
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;

    --primary: 142 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 120 100% 11%;
    --secondary-foreground: 0 0% 100%;

    --muted: 120 100% 11%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 142 100% 50%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 142 100% 50%;
    --input: 142 100% 50%;
    --ring: 142 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

